// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  min-height: 100vh;
}

.default-page-wrapper {
  padding: 15px;
}

.main-box-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.add-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.action-column {
  display: flex;
  column-gap: 20px;
  flex-wrap: nowrap;
}
