.add-button
  %h3 Categories
  = link_to 'Add category', new_category_path, class: 'btn btn-primary btn-sm'

-if @categories.present?
  %table.table.table-hover
    %thead
      %tr
        %th{ scope: 'col', style: 'width: 30px' }
        %th{ scope: 'col' }Category
        %th{ scope: 'col' }Description
        %th{ scope: 'col' }Action
    %tbody
      #accordionCategory.accordion
      - @categories.each do |category|
        .accordion-item
          = render 'category_row', category: category
          - if category.subcategories.exists?
            %tr
              %td.accordion-body.collapse{id: "collapse#{category.id}", "aria-labelledby" => "heading#{category.id}", "data-bs-parent" => "#accordionCategory", colspan: "4"}
                %table.table
                  %thead
                    %th Subcategory
                    %th Name
                    %th Description
                    %tbody
                  %tr
                    %td GDL
                    %td 2,000.00


- else
  %p (There are no categories yet.)



