.add-button
  %h3 #{@account.name} / Transactions
  = link_to 'Add Transaction',  new_account_transaction_path(@account), class: 'btn btn-primary btn-sm'

-if @transactions.present?
  %table.table.table-hover
    %thead
      %tr
        %th{ scope: 'col' }Date
        %th{ scope: 'col' }Name
        %th{ scope: 'col' }Description
        %th{ scope: 'col' }Value
        %th{ scope: 'col' }Category
        %th{ scope: 'col' }Action
    %tbody
      - @transactions.each do |transaction|
        = render 'transaction_row', transaction: transaction
- else
  %p (There are no transactions yet.)
