.add-button
  %h3 Accounts Overview
  = link_to 'Add Account', new_account_path, class: 'btn btn-primary btn-sm'

-if @accounts.present?
  %table.table.table-hover
    %thead
      %tr
        %th{ scope: 'col' }Account
        %th{ scope: 'col' }Description
        %th{ scope: 'col' }Action
    %tbody
      - @accounts.each do |account|
        = render 'account_row', account: account
- else
  %p (There are no accounts yet.)
